<!-- upload.html -->

{% extends 'base.html' %}
{% block title %} upload {% endblock %}
{% block content %}

    <h2>Upload</h2>
    <div class="col-sm-12 mt-2 text-center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="file" name="document" class="btn btn-info ">
            <button type="submit" class="btn btn-info mt-2 mb-5">Подтвердить</button>
        </form>
    </div>

    <table class="table mb-0">
        <thead>
        <tr>
            <th>Time</th>
            <th>Name</th>
            <th>Size</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                {% if file.status == 'Ready' %}
                 <td><a href="{{ file.url }}" download>{{ file.datetime_file }}</a></td>
                {% else %}
                <td>{{ file.datetime_file }}</td>
                 {% endif %}

                <td>{{ file.filename }}</td>
                <td>{{ file.size }}</td>
                <td>{{ file.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>















    <div class="col-sm-12 mt-2 text-center">
        <button class="btn btn-danger">
            <a href="{% url 'logout' %}">Logout</a>
        </button>
    </div>
    <!-- End here -->

{% endblock %}